USE [RAVDB1]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 11/21/2022 11:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[USERID] [uniqueidentifier] NOT NULL,
	[USERNAME] [varchar](30) NOT NULL,
	[EMAIL] [varchar](20) NOT NULL,
	[FIRSTNAME] [varchar](20) NOT NULL,
	[LASTNAME] [varchar](20) NOT NULL,
	[CREATEDON] [date] NOT NULL,
	[ISACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 11/21/2022 11:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ORDERID] [uniqueidentifier] NOT NULL,
	[PRODUCTID] [uniqueidentifier] NOT NULL,
	[ORDERSTATUS] [bit] NOT NULL,
	[ORDERTYPE] [bit] NOT NULL,
	[ORDERBY] [uniqueidentifier] NOT NULL,
	[ORDERDON] [date] NOT NULL,
	[SHIPPEDON] [date] NOT NULL,
	[ISACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 11/21/2022 11:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[PRODUCTID] [uniqueidentifier] NOT NULL,
	[PRODUCTNAME] [varchar](30) NOT NULL,
	[UNITPRICE] [decimal](6, 2) NOT NULL,
	[SUPPLIERID] [uniqueidentifier] NOT NULL,
	[CREATEDON] [date] NOT NULL,
	[ISACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 11/21/2022 11:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[SUPPLIERID] [uniqueidentifier] NOT NULL,
	[SUPPLIERNAME] [varchar](30) NOT NULL,
	[CREATEDON] [date] NOT NULL,
	[ISACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SUPPLIERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/21/2022 11:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [varchar](30) NOT NULL,
	[name] [nvarchar](500) NOT NULL,
	[emailid] [nvarchar](500) NOT NULL,
	[mobile] [nvarchar](20) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[isactive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK__ORDERS__ORDERBY__2C3393D0] FOREIGN KEY([ORDERBY])
REFERENCES [dbo].[CUSTOMER] ([USERID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK__ORDERS__ORDERBY__2C3393D0]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK__ORDERS__PRODUCTI__2D27B809] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[PRODUCT] ([PRODUCTID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK__ORDERS__PRODUCTI__2D27B809]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK__PRODUCT__SUPPLIE__2E1BDC42] FOREIGN KEY([SUPPLIERID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIERID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK__PRODUCT__SUPPLIE__2E1BDC42]
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 11/21/2022 11:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetUsers]
AS
select * from users order by id asc;
GO
